*{margin: 0;padding: 0;list-style: none;text-decoration: none;box-sizing: border-box;color: inherit;}

.flex{display: flex;}
.fxc{display: flex; justify-content: center; align-items: center;}
.jcc{justify-content: center;}
.jcb{justify-content: space-between;}
.jca{justify-content: space-around;}
.jce{justify-content: space-evenly;}
.aic{align-items: center;}
.fd{flex-direction: column;}

.tac{text-align: center;}
.m0a{margin: 0 auto;}
.mt20{margin-top: 20px;}

.fb{font-weight: bold;}
.fz25{font-size: 25px;}

body{display: flex; flex-direction: column; width: 100vw; height: 100vh;}

header{display: flex; justify-content: center; align-items: center; width: 100%; height: 80px; background-color: lightseagreen; color: #fff; font-weight: bold;}
header ul{display: flex; justify-content: space-between; width: max-content;}
header ul li{padding: 8px;}

main{display: flex; justify-content: center; align-items: center; flex: 1; flex-grow: 1;}
#section{height: 500px;}

footer{width: 100%; height: 80px; background-color: deepskyblue; text-align: center; line-height: 80px; font-weight: bold; font-size: 25px;}

table, tr, th, td{border: 1px solid;}


/* php */

/* 슈퍼관리자 */
.content{display: flex; justify-content: space-between; width: 1000px; height: max-content;}
.userList{width: max-content; height: max-content; background-color: lightgray; color: #fff; font-weight: bold;}
.userList ul{display: flex; flex-direction: column;}
.userList li{padding: 5px;}

.managerList{width: max-content; height: max-content; background-color: lightgray; color: #fff; font-weight: bold;}
.managerList ul{display: flex; flex-direction: column;}
.managerList li{padding: 5px;}

.libDataSection{display: grid; grid-template-columns: repeat(4, 1fr); gap: 10px; width: 1000px; margin: 0 auto;}
.libContent{width: 200px; height: max-content; border: 1px solid; border-radius: 20px; text-align: center;}
.libContent>div{padding: 10px;}
.libImg img{width: 70px;}
/* 슈퍼관리자 */


/* 서점관리자 */
.bookListSection{display: grid; grid-template-columns: repeat(4, 1fr); gap: 10px; margin: 0 auto; width: 80%; height: max-content;}
.bookListContent{display: flex; flex-direction: column; width: 300px; height: max-content; text-align: center; border: 1px solid;}
.bookListContent div{padding: 10px;}
.bookListContent img{width: 100px;}


#calendar #table, tr, th, td{border: 1px solid;}
#calendar #table{text-align: center;}
#calendar td{padding: 45px;}

.calendarHeader{display: flex; justify-content: space-between; align-items: center; margin: 20px 0;}
.currentMonth{font-weight: bold; font-size: 20px;}
.calendarHeader a{padding: 5px 10px; border: 1px solid; border-radius: 10px;}

/* 서점관리자 */