*{margin: 0;padding: 0;list-style: none;text-decoration: none;box-sizing: border-box;color: inherit;}

.flex{display: flex;}
.fxc{display: flex; justify-content: center; align-items: center;}
.jcc{justify-content: center;}
.jcb{justify-content: space-between;}
.jca{justify-content: space-around;}
.jce{justify-content: space-evenly;}
.aic{align-items: center;}
.fd{flex-direction: column;}

.tac{text-align: center;}
.m0a{margin: 0 auto;}
.mt20{margin-top: 20px;}

.fb{font-weight: bold;}
.fz25{font-size: 25px;}

body{display: flex; flex-direction: column; width: 100vw; height: 100vh;}

header{display: flex; justify-content: center; align-items: center; width: 100%; height: 80px; background-color: lightseagreen; color: #fff; font-weight: bold;}
header ul{display: flex; justify-content: space-between; width: max-content;}
header ul li{padding: 8px;}

main{display: flex; justify-content: center; align-items: center; flex: 1; flex-grow: 1;}
#section{height: 500px;}

footer{width: 100%; height: 80px; background-color: deepskyblue; text-align: center; line-height: 80px; font-weight: bold; font-size: 25px;}

table, tr, th, td{border: 1px solid;}


/* php */

/* 슈퍼관리자 */
.content{display: flex; justify-content: space-between; width: 1000px; height: max-content;}
.userList{width: max-content; height: max-content; background-color: lightgray; color: #fff; font-weight: bold;}
.userList ul{display: flex; flex-direction: column;}
.userList li{padding: 5px;}

.managerList{width: max-content; height: max-content; background-color: lightgray; color: #fff; font-weight: bold;}
.managerList ul{display: flex; flex-direction: column;}
.managerList li{padding: 5px;}

.libDataSection{display: grid; grid-template-columns: repeat(4, 1fr); gap: 10px; width: 1000px; margin: 0 auto;}
.libContent{width: 200px; height: max-content; border: 1px solid; border-radius: 20px; text-align: center;}
.libContent>div{padding: 10px;}
.libImg img{width: 70px;}
/* 슈퍼관리자 */


/* 서점관리자 */
.bookListSection{display: grid; grid-template-columns: repeat(4, 1fr); gap: 10px; margin: 0 auto; width: 80%; height: max-content;}
.bookListContent{display: flex; flex-direction: column; width: 300px; height: max-content; text-align: center; border: 1px solid;}
.bookListContent div{padding: 10px;}
.bookListContent img{width: 100px;}


/* 캘린더 */
#calendar{width: 100vw; height: 100vh; margin: 0 auto;}
.calendarIn{width: max-content; height: 700px;}
#calendar #table, tr, th, td{border: 1px solid;}
#calendar #table{text-align: center;}
#calendar td{padding: 35px;}

.calendarHeader{display: flex; justify-content: space-between; align-items: center; margin: 20px 0;}
.currentMonth{font-weight: bold; font-size: 20px;}
.calendarHeader a{padding: 5px 10px; border: 1px solid; border-radius: 10px;}

#calendar .rentData{margin-top:5px; padding:3px; background:#eef; font-size:12px;}
#calendar .rentData:hover{color: blue;}

#calendar tr:has(td:not(:empty)){display:table-row;}
#calendar tr:not(:has(td:not(:empty))){display:none;}

/* 표 */
.tableTable a:hover{text-decoration: underline; color: blue;}
.tableTable td{padding: 5px;}

/* 서점관리자 */


/* 일반회원 */

#librarys{margin: 0 auto; width: 900px; height: 700px; display: grid; grid-template-columns: repeat(4, 1fr); place-items: center; gap: 10px;}
#librarys img{width: 130px;}


#bookRent{width: 800px; height: 650px; display: grid; grid-template-columns: repeat(4, 1fr); place-items: center; gap: 10px; margin: 0 auto;}
#bookRent .books{width: 250px; height: max-content; padding: 10px; border: 1px solid; border-radius: 10px 2px 10px 2px; text-align: center;}
#bookRent img{width: 130px;}

#myPage{width: 100%; height: 670px;}
#myPage .myContent{text-align: center; padding: 10px; border: 1px solid; border-radius: 20px;}
#myPage .myContent p{padding: 10px;}

/* 일반회원 */